<!DOCTYPE html><html lang="en"><head><meta charset="UTF-8">

<meta name="viewport" content="width=device-width, initial-scale=1.0">

<title>Class Management</title>

{% load static %}

<link rel="stylesheet" href="{% static 'classes.css' %}">

</head><body><!-- ================= SIDEBAR ================= -->

{% if role == 'Admin' %}
    <div class="sidebar">

        <h2>Admin Portal</h2>

        <ul>

            <li><a href="{% url 'admin_dashboard' %}">Dashboard</a></li>
            <li><a href="{% url 'students' %}" class="active">Students</a></li>
            <li><a href="{% url 'staff' %}">Staff</a></li>
            <li><a href="{% url 'classes' %}">Classes</a></li>
            <li><a href="{% url 'attendance' %}">Attendance</a></li>
            {% comment %} <li><a href="{% url 'marks' %}">Marks</a></li> {% endcomment %}
            <li><a href="{% url 'homework' %}">Homework</a></li>
            <li><a href="{% url 'notices' %}">Notices</a></li>
            <li><a href="{% url 'fees_details' %}">Fees Details</a></li>
            <li><a href="{% url 'fees_status' %}">Fees Status</a></li>
            <li><a href='admin_profile.html'>Profile</a></li>
            <li><a href="{% url 'logout' %}">Logout</a></li>

        </ul>

    </div>
{% endif %}

{% if role == 'Staff' %}
    <div class="sidebar">

    <h2>Staff Portal</h2>

    <ul>

        <li>
            <a href="{% url 'staff_dashboard' %}">
                Dashboard
            </a>
        </li>

        {% if staff_role == 'Teacher' %}
        <li>
            <a href="{% url 'attendance' %}" class="active">
                Attendance
            </a>
        </li>
        {% endif %}

        <li>
            <a href="{% url 'students' %}">
                Students
            </a>
        </li>

        {% if staff_role == 'Accountant' %}
        <li>
            <a href="{% url 'student_registration' %}">
                Add a new Student
            </a>
        </li>
        {% endif %}

        {% comment %} {% if staff_role == 'Teacher' %}
        <li>
            <a href="{% url 'marks' %}">
                Marks Entry
            </a>
        </li>
        {% endif %} {% endcomment %}

        {% if staff_role == 'Teacher' %}
        <li>
            <a href="{% url 'homework' %}">
                Homework
            </a>
        </li>
        {% endif %}
        
        {% if staff_role == 'Teacher' %}
        <li>
            <a href="{% url 'notices' %}">
                Notices
            </a>
        </li>
        {% endif %}

        {% if staff_role == 'Accountant' %}
        <li>
            <a href="{% url 'fees_status' %}">
                Fees Status
            </a>
        </li>
        {% endif %}
        
        <li>
            <a href="teacher_profile.html">
                Profile
            </a>
        </li>

        <li>
            <a href="{% url 'logout' %}">
                Logout
            </a>
        </li>

    </ul>

</div>

{% endif %}
<!-- ================= MAIN CONTENT ================= -->

<div class="main-content">


    <!-- ================= HEADER ================= -->

    <div class="header">

        <div>

            <h1>Class Management</h1>

            <p>Manage classes, sections and class teachers</p>

        </div>

        <button
            class="add-btn"
            onclick="addClass()">

            + Add Class

        </button>

    </div>


    <!-- ================= SUMMARY CARDS ================= -->

    <div class="cards">

        <div class="card">

            <h3>Total Classes</h3>

            <p>12</p>

        </div>


        <div class="card">

            <h3>Total Sections</h3>

            <p>18</p>

        </div>


        <div class="card">

            <h3>Assigned Teachers</h3>

            <p>18</p>

        </div>


        <div class="card">

            <h3>Unassigned Classes</h3>

            <p>0</p>

        </div>

    </div>


    <!-- ================= SEARCH ================= -->

    <div class="search-box">

        <input
            type="text"
            id="searchInput"
            placeholder="Search by Class, Section, Teacher Name or Staff ID..."
            onkeyup="searchClasses()">

    </div>
    <div class="class-teacher-form">
        {% if role == 'Admin' %}

    <h2>Add Class Teacher</h2>

    <form method = "POST">

        <div class="form-grid">
            {% csrf_token %}
            <!-- CLASS -->
            <div class="form-group">
                {% comment %} <label for="class">Class</label>
                <input
                    type="number"
                    id="class"
                    name="class"
                    placeholder="Enter class"
                    required
                > {% endcomment %}
                {{ form.class_number.label }}
                {{ form.class_number}}
            </div>

            <!-- SECTION -->
            <div class="form-group">
                {% comment %} <label for="section">Section</label>
                <input
                    type="text"
                    id="section"
                    name="section"
                    placeholder="Enter section"
                    maxlength="5"
                    required
                > {% endcomment %}
                {{ form.section.label }}
                {{ form.section}}
            </div>

            <!-- CLASS TEACHER -->
            <div class="form-group">
                {% comment %} <label for="class_teacher">Class Teacher</label>
                <input
                    type="text"
                    id="class_teacher"
                    name="class_teacher"
                    placeholder="Enter class teacher name"
                    required
                > {% endcomment %}
                {{ form.class_teacher_name.label }}
                {{ form.class_teacher_name}}
            </div>

            <!-- STAFF ID -->
            <div class="form-group">
                {% comment %} <label for="staff_id">Staff ID</label>
                <input
                    type="text"
                    id="staff_id"
                    name="staff_id"
                    placeholder="Enter staff ID"
                    required
                > {% endcomment %}
                {{ form.staff_id.label }}
                {{ form.staff_id}}
            </div>

        </div>

        <div class="form-buttons">
            <button type="reset" class="reset-btn">
                Reset
            </button>

            <button type="submit" class="submit-btn">
                Add Class Teacher
            </button>
        </div>
           {{  message }}
    </form>

</div>
{% endif %}


    <!-- ================= CLASS TABLE ================= -->

    <div class="table-container">

        <h2>All Classes</h2>

        <div class="table-wrapper">

            <table id="classTable">

                <thead>

                    <tr>

                        <th>Class</th>

                        <th>Section</th>

                        <th>Class Teacher Name</th>

                        <th>Staff ID</th>

                        <th>Action</th>

                    </tr>

                </thead>


                <tbody>

                    {% for Classteacher in class_teacher_details %}
                    <!-- CLASS 1 -->

                    <tr>

                        <td>{{ Classteacher.class_number }}</td>

                        <td>{{ Classteacher.section }}</td>

                        <td>{{ Classteacher.class_teacher_name }}</td>

                        <td>{{ Classteacher.staff_id }}</td>

                        <td>

                            <button
                                class="edit-btn"
                                onclick="editClass('BCA 1st Year', 'A')">

                                Edit

                            </button>

                            <button
                                class="delete-btn"
                                onclick="deleteClass('BCA 1st Year', 'A')">

                                Delete

                            </button>

                        </td>

                    </tr>
                    {% endfor %}

                </tbody>

            </table>

        </div>

    </div>


</div>


<!-- ================= JAVASCRIPT ================= -->

{% comment %} <script>


    function searchClasses() {

        let input =
            document
            .getElementById("searchInput")
            .value
            .toLowerCase();

        let table =
            document
            .getElementById("classTable");

        let rows =
            table
            .getElementsByTagName("tr");


        for (let i = 1; i < rows.length; i++) {

            let rowText =
                rows[i]
                .innerText
                .toLowerCase();

            if (rowText.includes(input)) {

                rows[i].style.display = "";

            } else {

                rows[i].style.display = "none";

            }

        }

    }


    function addClass() {

        alert("Add Class form will open here.");

    }


    function editClass(className, section) {

        alert(
            "Edit Class: "
            + className
            + " - Section "
            + section
        );

    }


    function deleteClass(className, section) {

        let confirmDelete =
            confirm(
                "Are you sure you want to delete "
                + className
                + " - Section "
                + section
                + "?"
            );


        if (confirmDelete) {

            alert(
                className
                + " - Section "
                + section
                + " deleted successfully."
            );

        }

    }

</script> {% endcomment %}

</body></html>